.wrapper {
  width: 888px;
  height: 1568px;
  /* border: 1px solid red; */
}
.box {
  display: flex;
  border: 1px solid var(--color-gray-light);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;
  margin-bottom: 32px;
}
