.wrapper {
  width: 888px;
  height: auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  display: flex;
  border: 1px solid var(--color-gray-light);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;
  margin-bottom: 32px;
}
.button {
  border: 1px solid var(--color-gray-light);
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--color-main);
  background-color: var(--color-white);
}
.button:hover,
.button:focus {
  border: 1px solid var(--color-button-hover);
}
