.wrapper {
  width: 1440px;
  height: 72px;
  padding: 24px 64px;
  background: var(--color-inputs);
  border-bottom: 1px solid var(--color-badges);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: start;
  justify-content: flex-start;
  align-items: center;
}
