.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--color-main);
  margin-bottom: 8px;
}
.details {
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}
.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--color-main);
  margin-bottom: 28px;
}
.star svg {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-main);
  text-decoration: underline;
  margin-right: 16px;
}
.locIcon svg {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.location {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-main);
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text);
  width: 524px;
  height: 24px;
  margin-bottom: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* .gallery {
  display: flex;
}
.card {
  border-radius: 10px;
  width: 292px;
  height: 312px;
  overflow: hidden;
  margin-right: 24px;
}
.foto {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
